<div class="flex items-center justify-center flex-col md:mx-0 relative h-full" style="transform: scale(.85,.80);">
    <p class="capitalize mb-5 w-full md:w-1/3 lg:w-96 text-secondary font-medium title flex justify-between">
        <span class="leading-3 truncate  mr-5">{{ 'display.title' | translate }}</span>
        <span class="leading-3 cursor-pointer flex items-center" (click)="setLocale()">
            <span class="leading-3 mr-2">{{ locale | uppercase }}</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 19.191 19.191">
                <g id="Componente_8_2" data-name="Componente 8 – 2" transform="translate(0.75 0.75)">
                    <circle id="Elipse_297" data-name="Elipse 297" cx="8.845" cy="8.845" r="8.845" fill="none"
                        stroke="currentColor" stroke-miterlimit="10" stroke-width="1.5" />
                    <ellipse id="Elipse_298" data-name="Elipse 298" cx="3.389" cy="8.845" rx="3.389" ry="8.845"
                        transform="translate(5.456)" fill="none" stroke="currentColor" stroke-miterlimit="10"
                        stroke-width="1.5" />
                    <g id="Grupo_1814" data-name="Grupo 1814" transform="translate(0.403 5.72)">
                        <line id="Línea_39" data-name="Línea 39" x2="16.555" transform="translate(0.165 0)" fill="none"
                            stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1.5" />
                        <line id="Línea_40" data-name="Línea 40" x2="16.885" transform="translate(0 5.773)" fill="none"
                            stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1.5" />
                    </g>
                </g>
            </svg>
        </span>
    </p>
    <app-display class="w-full md:w-1/3 lg:w-96 mb-3 "></app-display>
    <app-box class="w-full md:w-1/3 lg:w-96 " (notifyChange)="showToast($event)"></app-box>
</div>
<app-toast class="fixed mb-8 top-0 right-0  rounded  shadow w-fit mt-4 z-50 transition-all duration-100 cursor-pointer"
    (click)="hideToast()"
    [ngClass]="{'translate-x-full': hide, '-translate-x-5': !hide, 'bg-info text-generated-pass':!notification.error,'bg-red-500 text-white':notification.error}"
    style="z-index: 1;" [text]="notification.message" [errorMessage]="notification.error">
    <span class="leading-3  opacity-80 hover:opacity-100 cursor-pointer" (click)="hideToast()">&times;</span>
    <div progressBar class="w-full h-2 bg-white my-3 rounded border-2 border-solid border-inherit">
        <div class="h-full rounded recort-width"
            [ngClass]="{'w-0': !hide, 'w-full':hide, 'bg-red-500':notification.error, 'bg-generated-pass':!notification.error}">
        </div>
    </div>
</app-toast>

<div class="ribbon left-translate">
    Beta
</div>