@import "scss/mixins.scss";

.bg-secondary {
    background-color: $colorSecondary;
}

.bg-strength {
    @include bg_Strength;
}

.bg-primary {
    background-color: $primaryColor;
}

.bg-info {
    background-color: $colorInfo;
}

.bg-info-alpha {
    background-color: #a4ffafbd;
}

.text-secondary {
    color: $textColor;
}

.text-info {
    color: $colorInfo;
}

.text-gray {
    color: $gray;
}

.bg-generated-pass {
    background-color: $generatedPass;
}

.text-generated-pass {
    color: $generatedPass;
}

.title {
    font-size: 19px !important;
}

.recort-width {
    transition: width 1.5s ease-in-out;
}

.ribbon {
    @extend .text-generated-pass;
    position: fixed;
    background: $colorInfo;
    box-shadow: 0 0 0 999px $colorInfo;
    clip-path: inset(0 -100%);
    z-index: -1;
  }
  .left-translate {
    inset: 0 auto auto 0; /* top and left equal to 0 */
    transform-origin: 100% 0; /* OR top right */
    transform: translate(-29.3%) rotate(-45deg);
  }