@import "scss/mixins.scss";

.bg-secondary {
    background-color: $colorSecondary;
}

.bg-strength {
    @include bg_Strength;
}

.bg-primary {
    background-color: $primaryColor;
}

.bg-info {
    background-color: $colorInfo;
}

.bg-info-alpha {
    background-color: #a4ffafbd;
    ;
}

.text-secondary {
    color: $textColor;
}

.text-info {
    color: $colorInfo;
}

.text-gray {
    color: $gray;
}

.bg-generated-pass {
    background-color: $generatedPass;
}

.text-generated-pass {
    color: $generatedPass;
}

/* Ripple effect */
.mat-button {
    background-position: center;
    transition         : background 0.8s;
}

.mat-button:hover {
    background: #a4ffafbd radial-gradient(circle, transparent 1%, #a4ffafbd 1%) center/15000%;
}

.mat-button:active {
    background-color: #a4ffafbd;
    background-size : 100%;
    transition      : background 0s;
}

.title {
    font-size: 19px !important;
}

.recort-width {
    transition: width 1.5s ease-in-out;
}