@import "scss/mixins.scss";

.bg-secondary {
    background-color: $colorSecondary;
}

.bg-strength {
    @include bg_Strength;
}

.bg-primary {
    background-color: $primaryColor;
}

.bg-info {
    background-color: $colorInfo;
}

.bg-info-alpha {
    background-color: #a4ffafbd;
}

.text-secondary {
    color: $textColor;
}

.text-info {
    color: $colorInfo;
}

.text-gray {
    color: $gray;
}

.bg-generated-pass {
    background-color: $generatedPass;
}

.text-generated-pass {
    color: $generatedPass;
}

.title {
    font-size: 19px !important;
}

.recort-width {
    transition: width 1.5s ease-in-out;
}
