/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
$primaryColor :#0E0D13;

body {
    background: linear-gradient(#24232B, $primaryColor 22%);
    height    : 100vh;
    overflow: hidden;
}